# Dependabot will run on day 23 of each month at 01:30 (Europe/Berlin timezone)
version: 2
updates:

  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "cron"
      timezone: "Europe/Berlin"
      cronjob: "30 1 23 * *"
    open-pull-requests-limit: 15
    assignees:
      - "Bannsaenger"
    versioning-strategy: "increase"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "cron"
      timezone: "Europe/Berlin"
      cronjob: "30 1 23 * *"
    open-pull-requests-limit: 15
    assignees:
      - "Bannsaenger"
